@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&family=Source+Sans+3:wght@300&family=Work+Sans:wght@600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: "Source Sans 3",sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Barlow Semi Condensed",sans-serif !important;
    font-weight: 400 !important
}

ul li{
    padding-right: 30px;
}

ul li span{
    padding-top: 3px;
}
.anchor a{
    font-weight: 300;
    font-size: smaller;
}
.describe{
    font-family: 'Work Sans', sans-serif !important;
}
.anchor{
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer ul li {
    font-size: 10px;
    color:#303030;
    font-weight: 300;
}
@media only screen and (min-width: 600px) {
    .footer ul li {
        font-size: 20px;
        color:#303030;
        font-weight: 300;

    }
}
